<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css')}}">
    {% block head %}{% endblock %}
</head>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='/img/Untitled-2-13-300x300.webp')}}" alt="" width="30" height="24">
                Task Master
            </a>
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='/js/bootstrap.min.js')}}"></script>
</body>
</html>